
.database_expiration_panel{
    text-align: center;
    max-width: 768px;
    width: 100%;
    display: none;
}

body > #wrapwrap > main {
    height: auto !important;
}

.o_notification_manager {
    top: 3.5rem;
    display: inherit;
    left: auto;
    bottom: auto;
    right: 0;
    position: fixed;
    z-index: 1055;
    width: 320px;
    margin-right: 0.5rem;
    max-width: 100%;
}
